body{
	background: url("img/jobbaextra_bg.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

h1{
	font-size: 40pt;
}

h2{
	text-transform: uppercase;
	color: #ffeec2;
	font-size: 30pt;
	font-weight: 100;
	margin: 0;
}

h4{
	font-size: 18pt;
	color: #ffeec2;
	font-weight: 100;
}

#header{
	display: table;
}

.headerLogo{
	height: 120px;
	width: auto;
	margin: 35px;
	margin-left: 70px;
	display: table-cell;
}

#navLinks{
	text-transform: uppercase;
	color: #ffeec2;
	display: table-cell;
	position: absolute;
	top: 40px;
	left: 30%; /* ÄNDRA VID MINDRE */
}

.navLink{
	display: inline;
	padding-left: 70px; /* ÄNDRA VID MINDRE */
}

#splash{
	background-color: #ff6e3f;
	padding: 10px;
	width: 500px;
	vertical-align: middle;
}

#splashText{
	margin: 0;
}

.infoBoxes{
	padding-top: 100px;
	width: 830px;
}

.infoBox{
	/*position: relative;*/
	padding: 40px;
	padding-top: 0px;
	width: 400px;
	max-width: 400px;
	height: 250px;
	background-color: #ffeec2;
}

.links{
	padding-top: 20px;
}

#userInfo{
	float: left;
}

#companyInfo{
	float: right;
}

.infoTitle{
	font-family: 'Raleway';
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 5px;
	color: #71CBD9;
}

.underlined{
	border-bottom: solid #ff6e3f 2px;
}

.infoDescription{
	text-align: left;
	padding-top: 15px;
}