<center>

	<div class="searchBar">
		<div id="orangeBG">

			<form novalidate>
				<input class="jobSearchForm" ng-model="query" placeholder="Hitta ett jobb"></input>
				<button class="searchButton" ng-click="search(query)">SÖK</button>
			</form>
			
		</div>
		<span id="searchBarIcon"></span>
	</div>

	<div id="splash">
		<h2 id="splashText">Vi letar efter dig</h2>
	</div>
</center>
<center>
	<div class="container full-width">
		<div class="links">
			<a ng-href="#/search"><button class="btn btn-primary"> Vidare till sök </button></a>
			<a ng-href="#/login"><button class="btn btn-primary"> Logga in </button></a>
			<a ng-href="#/profile"><button class="btn btn-primary"> Redigera  profil </button></a>
		</div>
		<div class="infoBoxes">
			<div class="boxAndButton" id="userInfo">
				<div class="infoBox" >
					<div id="infoBoxTitle">
						<h3 class="infoTitle"><span class="underlined">Jobbsökande</span>?</h3>
					</div>
					<p class="infoDescription">Här kan man ha massa bra information för de som letar jobb. Man kan skriva att de kan lägga upp sitt CV osv. Bli medlem på den här sidan och få en massa jobb. <br/><br/>Typiskt najs att göra det.</p>
				</div>
				<div id="registerUser">
					<button class="registerButton">Skapa din profil</button>
					<br/>
					<span class="alreadyJoined">Redan medlem? <a class="loginLink" ng-href="#/login">Logga in!</a></span>
				</div>
			</div>	
			
			<div class="boxAndButton" id="companyInfo">
				<div class="infoBox" >
					<div id="infoBoxTitle">
						<h3 class="infoTitle"><span class="underlined">Arbetsgivare</span>?</h3>
					</div>
					<p class="infoDescription">Här kan man ha massa bra information för de som letar jobb. Man kan skriva att de kan lägga upp sitt CV osv. Bli medlem på den här sidan och få en massa jobb. <br/><br/>Typiskt najs att göra det.</p>
				</div>
				<div class="registerCompany" id="registerCompany">
					<button class="registerButton" >Registrera ditt företag</button>
					<br/>
					<span class="alreadyJoined">Redan kund? <a class="loginLink" ng-href="#/login">Logga in!</a></span>
				</div>
			</div>	
		</div>

		<div class="latestJobs">
			<div id="jobsTitle">
				<h3 class="infoTitle underlined">De senaste jobben</h3>
			</div>
			<p id="placeholder">PLACEHOLDER</p>
		</div>
	</div>
	
</center>
<footer>
	<center>
		<img id="footerLogo" src="img/jobbaextra_logo.png">
		<div id="footerLinks">
			<a ng-href="#/search"><h4 class="footerLink">Leta jobb</h4></a>
			<a ng-href="#/company"><h4 class="footerLink">Leta arbetskraft</h4></a>
			<a ng-href="#/about"><h4 class="footerLink">Om oss</h4></a>
		</div>
	</center>
</footer>