<center>
	<div class="jobButtons" ng-hide="loading">
		<a ng-href="#/search"><button class="singleJobButton">Tillbaka till sök</button></a>
		<span ng-show="loggedIn()">
			<button class="singleJobButton save" ng-click="saveJob(annonsID, annonsrubrik)" ng-hide="jobSaved(annonsID)">Spara annons</button>
			<button class="singleJobButton removeSaved" ng-show="jobSaved(annonsID)" ng-click="removeSaved(annonsID)"> Ta bort från sparade jobb </button>
		</span>
	</div>
</center>

<div class="singleJob">
	<center><h2>{{ jobb.annons.annonsrubrik }}</h2></center>
	<p style="color:#E9DEBE">{{ jobb.annons.annonstext }}</p>
	<div style="color:rgb(255, 238, 194)">{{ jobb.ansokan.epostadress }}</div><div style="color:rgb(255, 238, 194)">Sista ansökningsdag {{ jobb.ansokan.sista_ansokningsdag | date:'yyyy-MM-dd' }}</div>
</div>