<!-- <h1>{{ status }}</h1> -->

<div id="customSearch">
	<form novalidate>
		<input id="customSearchbar" placeholder="Hitta ett jobb" ng-model="query"></input>
		<button id="customSearchButton" ng-click="search(query,sida)">Sök</button>
		<button id="customFilterButton" ng-click="toggleFilter()"><span class="glyphicon glyphicon-chevron-down"></span><span>Filtrera</span></button>
	</form>
</div>
<div class="filterDiv" ng-show="toggledFilter">
	Filter stuff goes here<br/>
	Moar stuff
</div>
<center>
	<div ng-show="showingResults" id="numSearchResults">
		<h4>Antal sökträffar: {{ antalAnnonser }}</h4>
	</div>
</center>

<img src="http://fc04.deviantart.net/fs70/f/2013/094/8/d/loading_logofinal_by_zegerdon-d60eb1v.gif" ng-show="loading"/>

<div ng-repeat="job in jobs">
	<a ng-href="#/job" ng-click="addPending(job.annonsid)"><div class="jobBlock">
		<p>
			<h4><small>{{ job.kommunnamn }}</small> {{ job.arbetsplatsnamn }}</h4>
			{{ job.annonsrubrik }}
		</p>
		<div class="publishDate">
			Publicerad {{ job.publiceraddatum | date:'yyyy-MM-dd' }}
		</div>
	</div></a>
</div>
<!-- <div ng-repeat="sida in sidor">
	<div class="sidePicker" ng-click="search(query,sida)">
		{{sida}}
	</div>
</div> -->

